@import 'vars';

@tailwind base;

@layer base {
  html {
    font-family: Georgia, sans-serif;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-lg;
  }

  p {
    text-align: justify;
  }

  blockquote {
    border-left: 0.3rem solid $letra-clara;
    padding-left: 1rem;
    margin: 1rem;
  }

  code {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    line-height: 1.5;
    font-size: 14px;
    display: block;
    background-color: $background-color-code;
    overflow: hidden;
    border-radius: 3px;
    padding: 2px;
    color: white;
    white-space: pre-wrap;
    //word-wrap: break-word;
  }
}

@tailwind components;
@tailwind utilities;

@layer utilities {
  .grid-wrapper {
    @apply grid grid-cols-[1fr,min(75ch,100%),1fr];
  }
  .grid-wrapper > * {
    grid-column: 2;
  }
  .min-h-content {
    @apply min-h-[calc(100vh-10rem)];
  }
  .focus-outline {
    @apply focus:outline-none focus:ring-2 transition ease-in-out;
  }
  .glow {
    filter: drop-shadow(0px 0px 6px);
  }
}
